[defaults]
# Use the Beautiful Output callback plugin.
stdout_callback = beautiful_output
PYTHONUNBUFFERED=1
# callback_whitelist = beautiful_output
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
poll_interval = 5  # Poll every 5 seconds
# display_skipped_hosts = False