- name: Workstation | hyprland | downloading end-4 dots
  become: false
  when: distribution == "Archlinux"
  shell:
    cmd: echo -e "n\nn" | bash <(curl -s "https://end-4.github.io/dots-hyprland-wiki/setup.sh") #Press N 2 times while Script is Running

- name: Workstation | uwsm | Install uwsm
  become: true
  pacman:
    name: uwsm
