- name: Arch | Update pacman.conf
  tags: arch,pacman
  become: true
  copy:
    src: files/pacman.conf
    dest: /etc/pacman.conf

- block: 
    - name: Arch | Clone yay repo
      become: false
      tags: arch,yay
      git:
        repo: https://aur.archlinux.org/yay.git
        dest: "/tmp/yay"
        clone: yes

    - name: Arch | Install yay
      become: false
      tags: arch,yay
      command: 
        cmd: makepkg -sfi --noconfirm 
        chdir: "/tmp/yay"

    - name: Arch | Remove yay build directory
      tags: arch,yay,remove
      file:
        path: "/tmp/yay"
        state: absent