# Per Distribution files
- import_tasks: distribution/Archlinux.yml
  when: distribution == "Archlinux"

# System Setup
- import_tasks: system_setup/ssh.yml
- import_tasks: system_setup/git.yml

# software
- import_tasks: packages/arch.yml
  when: distribution == "Archlinux"
